=form_with(model: FolderSpotRelationship, remote: true) do |f|
  .field 
    =hidden_field_tag :folder_id,folder.id
    =hidden_field_tag :spot_id,spot.id
    =f.label "コメント"
    =f.text_area :comment,class: 'materialize-textarea'
  = f.submit "追加する" ,class:"btn"