|$("#add-form-#{@relationship.folder.id}").html("#{escape_javascript(render 'spots/delete',{folder: @relationship.folder,spot: @relationship.spot})}");
|$("#folders").append("#{escape_javascript(render @relationship.folder,{comment: @relationship.comment})}");
