<h1>店舗新規登録</h1>
<%= form_with model: Restaurant.new,url:{action: :create},local: true do |f| %>
<div>
    <%= f.label :name%>
    <%= f.text_field :name ,id: 'restaurant_name' %>
</div>
<%= f.submit %>
<%end %>